<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thomas Kahng</title>

    <!-- Link to CSS file-->
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- Link to icon -->
    <link rel="icon" href="static/favicon.ico">
  </head>

  <body>
    <!-- Part of the body -->
    <div class="top">
      <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
      <h1>I'm Thomas</h1>
      <h2 class="who">a
        <span class="pro">pro</span>grammer</h2>

      <!-- Images to use -->
      <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
      <img src="images/mountain.png" alt="mountain-img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img class="profile-image" src="static/images/mine.png" alt="">
        <h2>Hello</h2>
        <p>My name is Thomas Kahng and I'm an aspiring software developer and programmer.</p>
      </div>
      <hr>

      <div class="skills">
        <h2>My Skills</h2>

        <div class="skill-row">
          <img class="skill-image" src="static/images/computer.png" alt="">
          <h3>Software Development</h3>
          <p class="code-skill">I've been making coding projects for a few years in quite a few programming languages.</p>
        </div>

        <div class="skill-row">
          <img class="skill2-image" src="static/images/workout.png" alt="">
          <h3>Working Out</h3>
          <p class="workout">Aside from technology, I enjoy playing soccer, working out, and going to the gym.</p>
        </div>
      </div>
      <hr>

      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Here's the link to my email.</h3>
        <p>I usually respond and communicate through my email, so feel free to ask me questions anytime.</p>
        <a class="btn" href="mailto:thomaskahng1@gmail.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <div class="footers">
        <a class="footer-link1" href="www.linkedin.com/in/thomas-kahng-0265b3199">Linkedin<an>
        <a class="footer-link2" href="https://github.com/thomaskahng">GitHub</a>
        <p>© 2021 Thomas Kahng.</p>
      </div>
    </div>
  </body>
</html>
